    #logo{
       width: 16.8%;
       height: 4%;
       margin-bottom: 4%;     
    }

    #campo{
        margin-top: 1%;
        margin-left: -6%;

    }


    #nome{
        margin-top: -3%;
        margin-left: 2%;
        font-family: cursive;
        
    }

    #nome, h3{
        font-size: 30px;
    }

    #ponteiro{
        height: 0%;
        width: 8%;
        padding-top: 4.2%;
        margin-left: -15%;
        transform-origin: 78px 85px;
        rotate: z 0deg;
    }


    #campo_image{
        border: solid 1px #6e6e6e91;
        border-radius: 5px 5px 5px;
        background: #1c1c1c4d;
        box-shadow: 1px 1px 10px;
        width: 30%;
        margin-left: 36%;
        margin-top: 5%;
        width: 3em;
    }

    #col_img {
        padding-left: 20%;
        margin-top: -2%;
        display: none;
    }

    #baixo,#normal,#sobre_pes,#obesidade,#obesidade2 {
        width: 3em;
        height: 8em;
        border-radius: 4px 4px 4px;
        display: none;
    }

    #dica_imc {
        width: 54%;
        margin-left: 13%;
        color: #222222bf;
    }

    #dados_p {
        border: solid 1px #fbfbfb;
        border-radius: 12px;
        text-align: center;
        margin-right: 50%;
        margin-left: 28%;
        padding-top: 2px;
        margin-top: 1%;
    }

    #texto_dica {
        border-radius: 4px;
        margin-top: 4px;
        border: 2px solid #ff00005e;
        font-size: smaller;
        text-align: center;
    }


    #campo_altura,#campo_peso {
        width: 19%;
        margin-left: 42%;
        margin-top: 1%;
    }

    #altura,#peso {
        background-color: #6e6e6e26;
        font-size: 14px;

    }

    #i {
        color: rgb(0, 162, 255);
    }

    #m {
        color: #D5DB18
    }

    #c {
        color: red;
    }

    #btn_calcular {
        margin-top: 1%;margin-left: 1em;
    }

    #calculo_imc {
        font-size: 18px;
    }

    #texto_imc {
        font-size: 15px;
    }

    #calculo_imc,#texto_imc {
        color: white;
    }

@media only screen and (max-width: 1199px){
     #ponteiro{
        transform-origin: 64px 73px;
     }
}    

 
@media only screen and (max-width: 991px) {
    #campo_image{
        margin-left: 35%;

    }

    #ponteiro{
        transform-origin: 49px 52px;
    }
    
}

@media only screen and (max-width: 767px) {
    .container{
        margin-top: 3%;
    }
    
    #ponteiro{
        transform-origin: 27px 29px;
    }

    #nome, h3{
        font-size: 20px;
    }
    
    #campo_altura, #campo_peso{
        width: 15%;
        margin-left: 44%;
    }

    #peso{
        margin-top: 7.8%;
    }

    #altura, #peso{
        font-size: 10px;
    }
    
    #i, #m, #c{
        font-size: 23px;
    }

    .form-control{
        padding: 2px 3px;
    }

    #baixo,#normal,#sobre_pes,#obesidade,#obesidade2{
        width: 2.4em;
        height: 6em;
    }

    .btn-sm{
        padding: 0.10rem .4rem;
    }

   
    #btn_calcular{
        margin-top: 7px;
        margin-left: 14px;
        font-size: 9px;
    }

    #campo_image{
        margin-left: 35%;
        width: 2.4em;
        height: 6.1em;
    }

    #dados_p{
        width: 28%;
        margin-left: 26%;
        
    }

    #calculo_imc{
        font-size: 14px;
        margin-bottom: auto;
    }

    #texto_imc{
        font-size: 11px;
    }

    #texto_dica{
        font-size: 12.5px;
    }

    #dica_imc{
        margin-left: 14%;
    }
}

@media only screen and (max-width: 412px){
    #ponteiro {
        transform-origin: 23px 26px;
    }
    
    #campo_altura, #campo_peso{
        width: 20%;
        margin-left: 42%;
        
    }

    #altura, #peso{
        font-size: 8.9px;
    }
    
    #btn_calcular{
        font-size: 9px;
        margin-top: 3%;

    }

    #dados_p{
        width: 30%;
        margin-left: 28%;
    }

    #dica_imc{
        width: 55%;
    }
}

@media only screen and (max-width: 314px){    
     
    #campo_image{
        margin-left: 32%;
    }

    #nome, h3{
        font-size: 14px;
    }

    #btn_calcular{
        font-size: 10px;

    }

    #altura, #peso{
        font-size: 9px;
    }
    

   .btn-sm {
    padding: 0.1rem .3rem;
   }

   #calculo_imc{
    font-size: 12px;
   }

   #texto_imc{
    font-size: 8.5px;
   }

   #texto_dica{
    font-size: 11.5px;
   }

   #dados_p{
    width: 40%;
    margin-left: 21%;
   }


}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}